@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

* {
    margin: auto 0;
    padding: 0;
    font-family: 'Road Rage', cursive;
}

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}